{% extends "base.html" %}
{% block heading %}
    <script src="https://kit.fontawesome.com/2b094273ea.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-4">
            <nav id="sidebar">

              <div class="new-note">
                <a href="{% url 'api:create' %}" class="new-note btn btn-default" style="color:#048c8c;">+ New Occasion</a>
              </div>

              {% if occasions %}
              <ul id="notes">
                  {% for occasion in occasions %}
                    <li>
{#                    data-url="{% url 'api:update' occasion.id %}"#}
                        <div class="note-title">{{ occasion.occasion_name }}</div>
                        <a href="{% url 'api:update' occasion.id %}" class="new-note btn btn-default" style="color:#048c8c;"> <i class="icon-edit"></i>Update Occasion</a>
                        <a href="{% url 'api:delete' occasion.id %}" class="new-note btn btn-default" style="color:#048c8c;">- Delete Occasion</a>
                        <div class="note-body">{{ occasion.body | safe }}</div>
                    </li>
                  {% endfor %}
              </ul>
              {% else %}
                <p id="nonotes">No occasions are available.</p>
              {% endif %}
            </nav>
        </div>

        <div class="col-8">

        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        {% if object %}
        <form action="{% url 'api:update' object.id %}" method="post" accept-charset="utf-8">
        {% else %}
        <form action="{% url 'api:create' %}" method="post" accept-charset="utf-8">
        {% endif %}
        {{ form.media }}

            {% csrf_token %}
            {% for field in form %}
            <p>
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ field.errors }}
                </div>
                {% endif %}
                {{ field.name }}  {{ field }}
            </p>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}" />

        {% if object %}
            <input class="btn btn-primary" type="submit" value="Update Occasion" style="background-color: #048c8c;border-color: #048c8c" />
        {% else %}
            <input class="btn btn-primary " type="submit" value="Create Occasion" style="background-color: #048c8c;border-color: #048c8c" />
        {% endif %}
        </form>


        </div>
    </div>
    </div>

{% endblock %}
<footer style="background: 	#ffb3cb;height: 40px; text-align: center; color: black; padding-top: 5px;position: relative; width: 100%">
       © 2020 Copyright: Pandora
</footer>