{% include 'base.html' %}
{% block content %}
{% load static %}
<div class="car">
   <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item" id="pic1">
        <img src="{% static 'images/pandora-banner.jpg' %}" class="d-block w-100" alt="..." id="pic1">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="color: white">New collection summer/fall 2020.</h1>
        </div>
        </div>
        <div class="carousel-item active" id="pic1">
        <img src="{% static 'images/pan2.jpg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="color: white">Use our online shop to buy our products </h1>
        </div>
        </div>
        <div class="carousel-item" id="pic1">
        <img src="{% static 'images/pan1.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="color: white">Make surprise with Pandora!</h1>
        </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
   </div>
</div>

    <h1 class="main_heading" id="titl1"><img src="{% static 'images/big.png' %}"> Safest shopping place in 2020. ! </h1>



    <p style="text-align: right;margin-right: 50px"><i class="fas fa-sun"></i> Click <a href="https://thingspeak.com/channels/1091019"> here</a> to see more  </p>
<script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>


<div class="acc_div">
<div id="accordion">
  <h3>Learn about the history of Belgrade</h3>
  <div>
    <p>
    One of the oldest cities in Europe and the only one built on the confluence of two rivers, Belgrade is the city that
    never sleeps and the symbol of great nightlife. The capital of Serbia, Belgrade, is known as “the city that never sleeps”.
    Floating clubs on its rivers have become synonyms for great parties and neverending fun, and Skadarlija, the bohemian street,
    for a place where music and singing can be heard until dawn. The first signs of life on the territory of the largest city in Serbia are dating from 4,800
    BC when the prehistoric town of Vinca started existing. The Celts were the ones who founded Belgrade in 3rd century BC, after what it became a Roman settlement called Singidunum.
    The original Slovene name of the city, “Beligrad”, which means “white city”, was first used in 878, and the city became the capital of Serbia in 1405.
    In 2005, the publicity discovered a big secret – an underground war bunker that was built in 1971 for the needs of the Yugoslav National Army, called Karas.
    The bunker was designed to shelter 70 of the highest politicians and officers in case of a war condition. It is placed 150 meters under the ground and it’s capable to sustain a nuclear attack.

    </p>
  </div>
  <h3>Learn about the history of London</h3>
  <div>
    <p>
    London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times.
    At its centre stand the imposing Houses of Parliament, the iconic ‘Big Ben’ clock tower and Westminster Abbey, site of British
    monarch coronations. Across the Thames River, the London Eye observation wheel provides panoramic views of the South Bank cultural complex,
    and the entire city. London is situated in southeastern England, lying astride the River Thames some 50 miles (80 km) upstream from its
    estuary on the North Sea. In satellite photographs the metropolis can be seen to sit compactly in a Green Belt of open land,
    with its principal ring highway (the M25 motorway) threaded around it at a radius of about 20 miles (30 km) from the city centre.
    The growth of the built-up area was halted by strict town planning controls in the mid-1950s. Its physical limits more or less correspond
    to the administrative and statistical boundaries separating the metropolitan county of Greater London from the “home counties” of Kent,
    Surrey, and Berkshire (in clockwise order) to the south of the river and Buckinghamshire, Hertfordshire, and Essex to the north.
    </p>
  </div>
  <h3>Learn about the history of Paris</h3>
  <div>
    <p>
    Paris, the cosmopolitan capital of France, is one of Europe's largest cities, with 2.2 million people living in the dense,
    central city and almost 12 million people living in the whole metropolitan area. Located in the north of France on the river Seine,
    Paris has the well deserved reputation of being the most beautiful and romantic of all cities, brimming with historic associations and
    remaining vastly influential in the realms of culture, art, fashion, food and design. Dubbed the City of Light (la Ville Lumière) and
    Capital of Fashion, it is home to the world's finest and most luxurious fashion designers and cosmetics, such as Louis Vuitton, Chanel,
    Dior, Yves Saint-Laurent, Guerlain, Lancôme, L'Oréal, Clarins, etc. A large part of the city, including the River Seine, is a UNESCO World
    Heritage Site. The city has the second highest number of Michelin restaurants in the world (after Tokyo) and contains numerous iconic landmarks,
    such as the world's most visited tourist site the Eiffel Tower, the Arc de Triomphe, the Notre-Dame Cathedral, the Louvre Museum, Moulin Rouge,
    and Lido, making it the most popular tourist destination in the world with 45 million tourists annually.
    </p>
  </div>
</div>
</div>
{% endblock %}
{#<footer style="background: 	#fde7e9;height: 40px; text-align: center; color: black; padding-top: 5px;position: relative">#}
{#       © 2020 Copyright: Pandora#}
{#</footer>#}