{% include 'base.html' %}
{% load static %}
{% block content %}

    <p class="hotel_heading"> Pandora products</p>
    <form method="GET" class="res_form">
    {{my_filter.form}}
    <button type="submit" id="submit" style="position: relative">Search</button>
    </form>
    <br>

    {% for product in products %}

    <div class="hotel_card">
    <div class="card mb-3" style="max-width: 1240px; height: 310px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ product.product_image.url }}" class="card-img" alt="Product image" style="height: 250px; width: 400px;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><a href="#" style="padding-left: 5%;padding-top: 0%;padding-bottom: 0%"> {{ product.product_name }} </a></h5>
            <p class="card-text" style="padding-left: 5%;padding-top: 0%;padding-bottom: 0%;font-size: 40px;" >   {{ product.product_price}} <img src="{% static 'images/malinovcic.png' %}">, {{ product.product_type }} </p>
            <p class="card-text" style="padding-left: 5%;padding-top: 0%;padding-bottom: 0%" ><small class="text-muted"> {{ product.materials }} </small></p>
          </div>
        </div>
      </div>
    </div>
    </div>

    {% endfor %}

    <div class="pag_div">
    <div class="paginator">
    {% for num in products.paginator.page_range %}
        {% if products.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
        {% elif num > products.number|add:'-2' and num < products.number|add:'2' %}
            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    </div>
    </div>
    <footer style="background: #3D405B;height: 40px; text-align: center; color: black; padding-top: 5px;position: relative">
       © 2020 Copyright: Pandora.com
    </footer>
{% endblock %}

